<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="val" v-on:keyup.enter="add">
        <br>
        {{val}}
        <ul>
            <li v-for="(list,index) in lists">
                {{list}}
                <button v-on:click="_delete(index)"> 删除 </button>
            </li>
        </ul>
    </div>
</body>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
    var vm = new Vue({
        el : '#app',
        methods:{
            add:function () {
                this.lists.unshift(this.val);
                this.val = '';
          },
            _delete:function (i) {
                this.lists = this.lists.filter(function(item,index){
                     return index !== i;
                });
            }
        },
        data : {
            val:'',
            lists : []
        }

    })
</script>
</html>